/*Стили для portfolio*/
.banner.portfolio-page__section {
    background: url(../images/unsplash_pb_lF8VWaPU.jpg) 50% 50% no-repeat;
    max-width: 100%;
    height: 661px;
}
.banner__text.portfolio-page__section {
    padding-bottom: 64px;
}
.banner__title.portfolio-page__section {
    padding: 120px 0 16px;
    color: #E6E8EF;
}
.portfolio-gallery {
    width: 1440px;
    margin: 179px auto 100px;
}
.portfolio-gallery figure {
    float: left;
    margin: 0 40px 80px 0;
}
.portfolio-gallery figure img {
    transition: all 200ms ease-out;
}
.portfolio-gallery figure img:hover {
    box-shadow: 2px 5px 15px #5b78a0;
}
.portfolio-gallery figcaption {
    margin-top: 16px;
}
.portfolio-gallery .figcaption__text {
    color: #535670;
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 16px;
}
.portfolio-gallery .figcaption__title {
    color: #35417F;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 8px;
}
.portfolio-gallery figure:nth-child(even) {
    margin-right: 0;
}
.portfolio-gallery .img-container img {
    width: 700px;
    height: 800px;
}
.bottom-banner.portfolio-page__section {
    background: url(../images/bg.jpg) 100% 0 no-repeat;
    width: 100%;
    height: 820px;
}
.bottom-banner__content.portfolio-page__section {
    padding: 243px 0 244px;
}
.bottom-banner__title.portfolio-page__section {
    margin: 8px 0 24px 0;
    color: #E6E8EF;
}
.bottom-banner__text.portfolio-page__section {
    margin-bottom: 153px;
    font-size: 20px;
    line-height: 28px;
    width: 577px;
    color: #DDDDE2;
}
.clients.portfolio-page__section {
    margin: 0 auto 110px;
}
@media all and (max-width: 1536px) {
    .portfolio-gallery {
        width: 1040px;
    }
    .portfolio-gallery .img-container img {
        width: 500px;
        height: 600px;
    }
}
@media all and (max-width: 1260px) {
    .portfolio-gallery {
        width: 726px;
    }
    .portfolio-gallery figure {
        width: 343px;
        margin: 0 40px 40px 0;
    }
    .portfolio-gallery .img-container img {
        width: 343px;
        height: 420px;
    }
}
@media all and (max-width: 800px) {
    .banner__title.portfolio-page__section {
        padding: 80px 0 16px;
    }
    .banner__text.portfolio-page__section {
        width: 85%;
        padding-bottom: 80px;
    }
    .banner.portfolio-page__section {
        height: 476px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .portfolio-gallery {
        width: 90%;
        text-align: center;
        margin: 80px auto 80px;
    }
    .portfolio-gallery figure {
        float: none;
        margin: 0 auto 64px;
    }
    .portfolio-gallery .figcaption__title {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 5px;
    }
    .portfolio-gallery .figcaption__text {
        font-size: 16px;
        line-height: 16px;
        font-family: Rubik, sans-serif;
        font-weight: 400;
    }
    .portfolio-gallery figure:nth-child(even) {
        margin-right: auto;
    }
    .clients.portfolio-page__section {
        margin-bottom: 80px;
    }
    .bottom-banner.portfolio-page__section {
        height: 371px;
        background-size: cover;
        background-position: 50% 50%;
    }
    .bottom-banner__content.portfolio-page__section {
        padding: 80px 0 64px;
    }
    .bottom-banner__title.portfolio-page__section {
        margin: 8px 0 16px;
    }
    .bottom-banner__text.portfolio-page__section {
        font-size: 16px;
        line-height: 17px;
        width: 85%;
        margin-bottom: 40px;
    }
}
@media all and (max-width: 533px) {
    .bottom-banner__text.portfolio-page__section {
        font-size: 13px;
        margin-bottom: 20px;
    }
    .bottom-banner__text.portfolio-page__section span {
        display: none;
    }
}
@media all and (max-width: 430px) {
    .banner.portfolio-page__section {
        background: url(../images/bg2.jpg) 100% 0 no-repeat;
        background-size: cover;
    }
    .bottom-banner.portfolio-page__section {
        background: url(../images/bg3.jpg) 100% 0 no-repeat;
        background-size: cover;
    }
    .portfolio-gallery figure {
        width: 100%;
    }
    .portfolio-gallery .img-container img {
        width: 100%;
        object-fit: cover;
    }
}